# Terraform files (in all directories)
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl

# Target specific problematic directory
infrastructure/terraform/projects/group31-project-2025-451402/ContainerCluster/**/.terraform/
infrastructure/terraform/projects/group31-project-2025-451402/ContainerCluster/.terraform/
infrastructure/terraform/projects/group31-project-2025-451402/ContainerCluster/.terraform/*

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.npm
.yarn-integrity
package-lock.json
